# VSCode
.vscode/*
!.vscode/dettings/json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio code
.history/

# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json